body
{
    background-image: -moz-linear-gradient(to right, red, orange);
    background-image: linear-gradient(to right, red, orange);
/*    background: red;*/
    font-family: monospace;
    width: 100%;
    height: 500px;
}

p
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
}
