body
{
    background-image: linear-gradient(to right, #080, #040);
/*    background: red;*/
    font-family: monospace;
    width: 100%;
    height: 500px;
}

p
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: monospace;
}
.element{
    background:#0a0;
    border: 1px solid #000;
    width: 50%;
}